{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
  </head>
  <body>
    <section class="section-1">
      <form class="login-form" action="" method="POST">
        {% csrf_token %}
          <div class="form-1" id="form-heading">
            <h2>Signup</h2>
          </div>
          <div class="form-1" id="user-div">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" />
          </div>
          <div class="form-1" id="user-div">
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" />
          </div>
          <div class="form-1" id="user-div">
            <label for="name">Full Name</label>
            <input type="text" name="name" id="name" />
          </div>
          <div class="form-1" id="pass-div">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
          </div>
          <div class="form-1" id="pass-div">
            <label for="cpassword">Confirm Password</label>
            <input type="password" name="cpassword" id="cpassword" />
          </div>
          <div class="form-1" id="sub-div">
            <button class="submit">Login</button>
          </div>
      </form>
    </section>
  </body>
</html>
